.list-container {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}
.list-browser-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.list-browser {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 15px;
}
.time {
  color: #475569;
  font-size: 15px;
  font-family: 'Roboto';
  font-weight: 500;
}
.domain-logo-image {
  height: 30px;
  width: 30px;
  margin-left: 20px;
  padding-right: 10px;
}
.domain-title {
  font-family: 'Roboto';
  color: #475569;
  font-weight: 500;
  font-size: 13px;
  padding-right: 10px;
}
.domain-url {
  color: #64748b;
  font-family: 'Roboto';
  font-size: 10px;
}
.delete-button {
  background-color: transparent;
  border: none;
  margin-right: 15px;
}
